<div class="container text-sm-center">
  <h2 class="mat-display-2 text-center m-4">Banana ERP Cloud</h2>
  <h3 class="mat-display-1 text-center">Solución Integral de Administración y Contabilidad</h3>

  <div id="cero" class="row align-items-center justify-content-lg-between">
    <div class="col-lg-6">
      <img class="img" src="../../../../assets/img/svg/undraw_finance.svg" alt="imagen de finanzas">
    </div>
    <div class="col-lg-6 text-lg-left">
      <ul class="mat-h3">
        <li>Crea y confirma presupuestos, pedidos de ventas, verifica créditos, asigna inventarios,
          selecciona y envía productos y procesa facturas.</li>
        <li>Analiza y desarrolla mejores planes de negocios, presupuestos y realiza un seguimiento del
          rendimiento</li>
        <li>Controla tus márgenes y la productividad del vendedor y analiza las ventas por producto,
          artículo, zona o cliente.</li>
        <li>Consolida toda la información financiera de tu empresa (bancos, pagos a proveedores, ingresos y
          cobros, etc.)</li>
        <li>Personaliza la solución para adaptarla al 100% a tus propias necesidades y procesos.</li>
        <li>Realiza negocios y generar informes consolidados en cualquier moneda.</li>
        <li>Asegúrese de que la información fluya a las personas responsables con alertas y notificaciones.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid text-sm-center">
  <div id="uno" class="row d-flex align-items-center justify-content-lg-around">
    <div class="col-lg-6">
      <img class="img" src="../../../../assets/img/svg/undraw_connected_world.svg" alt="">
    </div>
    <div class="col-lg-6 text-lg-left">
      <h2 class="mat-h1">Desde cualquier lugar...</h2>
      <p class="mat-h3">Controla todas las áreas de tu empresa desde cualquier lugar. </p>
    </div>
  </div>
  
  <div id="dos" class="row d-flex align-items-center justify-content-lg-around">
    <div class="col-lg-6 text-lg-right">
      <h2 class="mat-h1">...Disponibilidad 24/7...</h2>
      <p class="mat-h3">Puedes acceder al sistema de manera online a cualquier hora.</p>
    </div>
    <div class="col-lg-6 text-lg-left">
      <img class="img" src="../../../../assets/img/svg/undraw_dev_productivity.svg" alt="">
    </div>
  </div>
  
  <div id="tres" class="row d-flex align-items-center justify-content-lg-around">
    <div class="col-lg-6">
      <img class="img" src="../../../../assets/img/svg/undraw_organize_resume.svg" alt="">
    </div>
    <div class="col-lg-6">
      <h2 class="mat-h1">...Te lo hace fácil!</h2>
      <p class="mat-h3">Mas intuitivo, sin elevadas curvas de aprendizaje ni horas de formación.</p>
    </div>
  </div>
</div>
