<!-- Contenedor general del left menu. use la animacion onSideNavChange -->
<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
    <!-- mat nav list -->
    <mat-nav-list>
      <!-- iteracion de los elementos del menu -->
      <ng-container *ngFor="let element of elements">
        <!-- Evento click para emitir el elemento -->
        <a (click)="emitNavItem(element)" mat-list-item>
          <!-- Icono de material -->
          <mat-icon style="padding-right:5px;">{{element?.icon}}</mat-icon>
          <!-- Usa la animacion animateText -->
          <span [@animateText]="linkText ? 'show' : 'hide'">{{ element?.title }} </span>
        </a>
        <!-- Divisor de material -->
        <mat-divider></mat-divider>
      </ng-container>
    </mat-nav-list>
  </div>
</div>