<footer class="footer pt-5 bg-dark text-light text-center">
    <div class="row d-flex justify-content-center">
        <div class="col-md-2 text-md-left">
            <h2 class="h4">Overcom, c.a.</h2>
            <p>Soluciones en computación</p>
            <img class="img-fluid pb-2" src="../../assets/img/Banana ERP Cloud Horizonal candidate.png" width="200" alt="Logo">
        </div>
        <div class="col-md-4">
            <h2 class="h4 text-center">Siguenos</h2>
            <div class="rrss text-center">
                <a class="text-light h3 p-1" href="#"><i class="fab fa-instagram-square"></i></a>
                <a class="text-light h3 p-1" href="#"><i class="fab fa-facebook-square"></i></a>
                <a class="text-light h3 p-1" href="#"><i class="fab fa-twitter-square"></i></a>
                <a class="text-light h3 p-1" href="#"><i class="fab fa-youtube-square"></i></a>
                <a class="text-light h3 p-1" href="#"><i class="fab fa-linkedin"></i></a>

            </div>
        </div>
        <div class="col-lg-2 text-md-right">
            <h2 class="h4">Contactanos</h2>
            <p class=""><i class="fas fa-map-marker-alt"></i> 2da Transversal de la Calle Vargas, Edif. Ind. Bertolini, Caracas 1071, Venezuela</p>
            <p><i class="fas fa-phone"></i> +58 212 238.3111</p>
            <p><i class="far fa-envelope"></i> info@overcom.net</p>

        </div>
    </div>
    <div class="row">
        <div class="col-12 copy">
            <hr>
            <p class="text-center small">Copyright (c) Overcom 2020, Todos los derechos reservados</p>
        </div>
    </div>
</footer>