<div id="login-container" class="container-fluid d-flex justify-content-center align-items-center">
    <div class="login-box col-lg-6 col-11 d-lg-flex justify-content-lg-center">
        <!-- LEFT SIDE LOGIN CONTAINER -->
        <div class="login-box__left col-lg-6 col-12 py-lg-5 px-lg-5 py-4 px-4">
            <h1 class="h2 text-center mb-4">Tu sesión está bloqueada</h1>

            <hr class="hr-text text-center small pb-lg-2 pb-3" data-content="Recupera tu sesión con tu crreo electrónico y contraseña"/>
            <form action="">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="far fa-envelope"></i></span>
                    </div>
                    <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" mail type="email" class="form-control" placeholder="Correo Electrónico" aria-label="email"
                        aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                    </div>
                    <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" placeholder="Contraseña" aria-label="password"
                        aria-describedby="basic-addon1" required>
                </div>
                
                <button (click)="verifyCredentials()" type="submit" class="btn btn-primary btn-block mt-lg-0 mb-3">RECUPERAR SESION <i class="fas fa-key"></i></button>
            </form>
            <hr>
            <a (click)="logout()" class="small text-decoration-none" routerLink="/authentication/login"><p class="text-center"><span>¿No eres {{name}}?</span></p></a>
        </div>
        <!-- RIGHT SIDE LOGIN CONTAINER -->
        <div class="login-box__right col-lg-6">
            <img src="../../../../../assets/img/svg/undraw_coffee_break_j3of.svg" alt="Imagen de Registro" class="right-img d-none d-lg-block">
        </div>
    </div>
</div>