<div id="login-container" class="container-fluid d-flex justify-content-center align-items-center">
    <div class="login-box col-lg-6 col-11 d-lg-flex justify-content-lg-center">
        <!-- LEFT SIDE LOGIN CONTAINER -->
        <div class="login-box__left col-lg-6 col-12 py-lg-5 px-lg-5 py-4 px-4">
            <h1 class="h2 text-center mb-4">Restablecer su contraseña</h1>

            <!-- <hr class="hr-text text-center small pb-lg-2 pb-3" data-content="Recupera tu sesión con tu crreo electrónico y contraseña"/> -->
            <form action="">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="password"><i class="fas fa-lock"></i></span>
                    </div>
                    <input [(ngModel)]="password" name="password" id="password" type="password" class="form-control"
                        placeholder="Contraseña" aria-label="password" aria-describedby="password" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="confirm-password"><i class="fas fa-lock"></i></span>
                    </div>
                    <input [(ngModel)]="confirm_password" name="confirm_password" id="confirm_password" type="password"
                        class="form-control" placeholder="Confirmar Contraseña" aria-label="confirm-password"
                        aria-describedby="confirm-password" required>
                </div>

                <button [disabled]="validatePassword" (click)="changePassword()" type="submit" class="btn btn-primary btn-block mt-lg-0 mb-3">RESTABLECER CONTRASEÑA <i
                        class="fas fa-key"></i></button>
            </form>
            <hr>
            <!-- <a class="small text-decoration-none" routerLink="/authentication/login"><p class="text-center"><span>¿No eres FULANITO?</span></p></a> -->
        </div>
        <!-- RIGHT SIDE LOGIN CONTAINER -->
        <div class="login-box__right col-lg-6">
            <img src="../../../../../assets/img/svg/undraw_authentication.svg" alt="Imagen de Registro"
                class="right-img d-none d-lg-block">
        </div>
    </div>
</div>