$size: 200px;

.upload-preview {
  border: 1px solid#eee;
  background-color: #ecf0f5;
  border-radius: 4px;
  height: auto;
  min-height: 130px;
  width:100%;
  display: block;
  input[type=file] { display: none; }
  .logo-wrapper {
    height:100px;
    width: 100px;
    border-radius: 100px;
    background: #fff;
    overflow: hidden;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 15px;
    border: 2px solid #eee;
    cursor: pointer;
    img {
      min-height: 100%;
      max-height: 100%;
      height: auto;
      width: auto;
    }
  }
  .content-wrapper {
    padding: 15px 15px;
    display: inline-block;
    position: right;

    .name {
      color: #000;
      font-weight: bold;
    }
    .size {
      color: #aaa;
    }
    .actions {
      margin-top: 15px;
    }
  }
}
