/* Estilos nuevos */
.primary{
    background:#009999;
  }
  .danger{
    background:#EA6B66;
  }
  .default{
    background: #dedede;
    color: #737373 !important;
  }
  .boton{
    border-radius: 0px;
    color: #FFFF;
  }
  .mb{
  margin-bottom: 0.6em;
  }
  .header{
    background: linear-gradient(#009999, #135085);
    color: #fff;
  }
  .span-close{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    filter: alpha(opacity=20);
    opacity: 1;
  }