<!-- <div class="col-sm-12"> -->
<div class="row">
  <div class="col-xs-12 col-sm-12" *ngIf="access.getValue( getIdColumnByProperty( 'host_smtp' ) ,'R')">
    <div class="form-group">
      <label for="host">{{lbl.tags('host')}}</label>
      <input [disabled]="access.disabled(read_only, getIdColumnByProperty( 'host_smtp' ), type_view)"
        [(ngModel)]="model.host_smtp"
        [ngModelOptions]="{standalone: true}"
        type="text"
        class="form-control"
        id="host"
        [placeholder]="lbl.tags('host')"
      >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="access.getValue( getIdColumnByProperty( 'encryption_smtp' ) ,'R')">
    <div class="form-group">
      <label for="tls">{{lbl.tags('tls')}}</label>
      <input [disabled]="access.disabled(read_only, getIdColumnByProperty( 'encryption_smtp' ), type_view)"
        [(ngModel)]="model.encryption_smtp"
        [ngModelOptions]="{standalone: true}"
        type="text"
        class="form-control"
        id="tls"
        [placeholder]="lbl.tags('tls')"
      >
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="access.getValue( getIdColumnByProperty( 'port_smtp' ) ,'R')">
    <div class="form-group">
      <label for="puerto">{{lbl.tags('puerto')}}</label>
      <input [disabled]="access.disabled(read_only, getIdColumnByProperty( 'port_smtp' ), type_view)"
        [(ngModel)]="model.port_smtp"
        [ngModelOptions]="{standalone: true}"
        type="number"
        class="form-control"
        id="puerto"
        [placeholder]="lbl.tags('puerto')"
      >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="access.getValue( getIdColumnByProperty( 'username_smtp' ) ,'R')">
    <div class="form-group">
      <label for="correo">{{lbl.tags('correo')}}</label>
      <input [disabled]="access.disabled(read_only, getIdColumnByProperty( 'username_smtp' ), type_view)"
        [(ngModel)]="model.username_smtp"
        [ngModelOptions]="{standalone: true}"
        type="text"
        class="form-control"
        id="correo"
        [placeholder]="lbl.tags('correo')"
      >
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="access.getValue( getIdColumnByProperty( 'password_smtp' ) ,'R')">
    <div class="form-group">
      <label for="password_smtp">{{lbl.tags('password')}}</label>
      <input [disabled]="access.disabled(read_only, getIdColumnByProperty( 'password_smtp' ), type_view)"
        [(ngModel)]="model.password_smtp"
        [ngModelOptions]="{standalone: true}"
        type="password"
        class="form-control"
        id="password_smtp"
        [placeholder]="lbl.tags('password')"
      >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
    <button type="submit" *ngIf="with_button" mat-raised-button class="btn boton primary" (click)="clickButton()">{{lbl.tags('guardar', true)}}</button>
  </div>
</div>
<!-- </div> -->