<div id="login-container" class="container-fluid d-flex justify-content-center align-items-center">
    <div class="login-box col-lg-6 col-11 d-lg-flex justify-content-lg-center">
        <!-- LEFT SIDE LOGIN CONTAINER -->
        <div class="login-box__left col-lg-6 col-12 py-lg-5 px-lg-5 py-4 px-4">
            <h1 class="h2 text-center mb-4">¿Olvidaste tu contraseña?
            </h1>

            <!-- DIV DE LOS BOTONES AUTHETICATION -->
            <div class="col-12 d-lg-flex justify-content-between p-0">
                <!-- Butón Login -->
                <div class="col-lg-6 col-12 p-0 mr-2 mb-2">
                    <button class="btn btn-outline-secondary btn-block p-1" routerLink="/authentication/login">
                        Login <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>

                <!-- Botón Registro  -->
                <div class="col-lg-6 col-12 p-0">
                    <button class="btn btn-outline-secondary btn-block p-1" routerLink="/authentication/register">
                        Registro <i class="fas fa-user-plus"></i>
                    </button>
                </div>
            </div>

            <hr class="hr-text text-center small pb-lg-2 pb-3" data-content="Ingrese el correo electrónico que usastes cuando te registraste y te enviaremos una contraseña temporal"/>
            <form action="">

                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="far fa-envelope"></i></span>
                    </div>
                    <input [(ngModel)]="email" name="email" id="email" mail type="email" class="form-control" placeholder="Correo Electrónico" aria-label="email"
                        aria-describedby="basic-addon1">
                </div>
                
                <!-- DIV DE RECORDAR CREDENCIALES Y OLVIDE PASSWORD -->
                <!-- <div class="col-12 d-lg-flex justify-content-lg-between p-0">
                    <div class="col-lg-6 col-12 p-0">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label small mb-3" for="exampleCheck1">Recordar mis credenciales</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <a class="text-decoration-none small float-right p-0 text-right mb-3" href="#">No recuerdo mi contraseña</a>
                    </div>
                </div> -->
                <button [disabled]="validateEmail" (click)="sendEmail()" type="submit" class="btn btn-primary btn-block mt-lg-0 mt-3">ENVIAR CONTRASEÑA <i class="fas fa-paper-plane"></i></button>
            </form>
            <hr>
            <a class="small text-decoration-none" routerLink="/authentication/login"><p class="text-center"><span>He recordado mi contraseña</span></p></a>
        </div>
        <!-- RIGHT SIDE LOGIN CONTAINER -->
        <div class="login-box__right col-lg-6">
            <img src="../../../../../assets/img/svg/undraw_forgot_password_gi2d.svg" alt="Imagen de Registro" class="right-img d-none d-lg-block">
        </div>
    </div>
</div>
