
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img class="logo-size pl-lg-3" src="../../../../assets/img/Banana ERP Cloud Horizonal candidate.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse pr-lg-3" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#uno">Opción 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#dos">Opción 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#tres">Opción 3</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary text-light" routerLink="authentication/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</div>


  <div class="col-12 content">
    <div class="content-caption">
      <h1 class="mat-display-3">¡Comienza a transformar tu negocio hoy!</h1>
      <h2 class="mat-display-1">Finalmente, un sistema ERP en la nube con todas las funciones que las PYMES pueden permitirse...</h2>
      <a class="btn btn-outline-primary" href="#"><i class="fas fa-info-circle"></i> Mas infomación</a>
    </div>
  </div>

